RocksRobot/config.py
RocksRobot/*.session
RocksRobot/*.session-journal
RocksRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
RocksRobot/modules/helper_funcs/temp.txt
RocksRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
RocksRobot.session-journal
updates.txt
*.exe
